<div class="bg-light mb-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand pr-5" href="#">
            <img src="../../../../assets/logo_short.png" class="img-fluid" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Gallery">Gallery</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/ContactUs">Contact Us</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/FAQS">FAQS</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom Cakes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Flavours</a>
                <a class="dropdown-item" routerLink="/FAQS">FAQS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pricing</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
</div>
</div>


