<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottom-margin mx-auto my-5">
                <div class="footerlinks">
                    <a href="#" class="social  mx-3">
                        <i class="fab fa-weibo fa-2x"></i>
                    </a>
                    <a href="#" class="social  mx-3">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="#" class="social  mx-3">
                        <i class="fab fa-weixin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="QRcode text-center mx-4 mb-5">
            <img src="../../../../assets/wx.jpg" alt="" style="height: 120px; width:120px;">
            <div class="qr">FP cake design weichat</div>
            

        </div>
    
            <p class="text-center bg-light">
                Flowerie Patisserie Cake Design 2019. All rights reserved. 
                <!-- <span>
                    <a href="https://freeprivacypolicy.org/generic.php" target="_blank">Privacy Policy</a>
                </span> -->
            </p>
    
    
            <div class="text-center pb-5" >
                Sydney, NSW, Australia | Ph: 
                <span style="color: goldenrod">1234 123 123</span> 
                |  <span class="email-address"><a class="email-address" href="" >cakes@fpcakedesign.com.au</a></span>
            </div>
    
        <!-- <p class="text-center ">
            <span class="email-address"><a href="">Contact web designer</a></span>
        </p> -->
    </div>
</div>

