<div class="container">

  <div class="mt-3 py-3">
    <h2 style="font-family: 'Chilanka', cursive; color: goldenrod" class="title border-bottom">Golf</h2>
  </div>

  <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../../../assets/1.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Golf</h5>
              <p class="card-text">This is the Description of Golf.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <figure class="figure">
                    <img src="../../../../assets/1.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 60px; width: 60px" class="mr-2">
                    <img src="../../../../assets/2.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 60px; width: 60px" class="mr-2">
                    <img src="../../../../assets/3.jpg" class="figure-img img-fluid rounded" alt="..." style="height: 60px; width: 60px" class="mr-2">
                    <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                  </figure>
            </div>
          </div>
        </div>
      </div>



  <table class="table table-hover table-dark" style="color:goldenrod">
        <thead>
          <tr>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">6-inch</th>
            <td>169</td>
          </tr>
          <tr>
            <th scope="row">8-inch</th>
            <td>189</td>
          </tr>
          <tr>
            <th scope="row">10-inch</th>
            <td colspan="2">219</td>

          </tr>
        </tbody>
      </table>

</div>
